{block title}{_address_persons}{/block}

{block breadcrumb}
    <li class="breadcrumb-item">
        <a href="{link Address:default}">{_menu_address}</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{link Address:edit, $presenter->getParameter('id')}">{_address_address}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{_address_persons}</li>
{/block}

{block content}
    {control peoplesForm}
{/block}