{block title}{_note_history_note_history}{/block}

{block breadcrumb}
    <li class="breadcrumb-item"><a href="{link NoteHistory:default}">{_menu_history_notes}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{_note_history_note_history}</li>
{/block}

{block content}
    {control form}
{/block}
