{form form}

    {foreach $jobs as $job}
        <div class="form-check">
            <input
                type="checkbox"
                name="job[]"
                value="{$job->id}"
                id="job{$job->id}"
                {if array_key_exists($job->id, $selectedJobs)} checked="checked"{/if}
            >
            <label class="form-check-label" for="job{$job->id}">{$job->name}</label>
        </div>
    {/foreach}

    {input send}

{/form}