<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml}{/ifset}</title>

	<link rel="stylesheet" type="text/css" href="{$basePath}/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/jquery-ui.min.css">
	<link media="screen" rel="stylesheet" type="text/css" href="{$basePath}/css/primitives.latest.css">
</head>

<body>

{snippet modal}
	{if $presenter->isAjax()}
		{ifset #modal}

			<div class="modal fade modal-ajax" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							{block modalHeader}
							<h5 class="modal-title">{block|striptags}{include #modalTitle}{/block}</h5>
							{/block}
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							{include #modal}
						</div>
						{ifset #modalFooter}
						<div class="modal-footer">
							{include #modalFooter}
						</div>
						{/ifset}
					</div>
				</div>
			</div>
		{/ifset}
	{/if}
{/snippet}

	{* main nav *}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<ul class="navbar-nav">
			<li class="nav-item {if $this->getParameter('presenter')->name === 'Homepage'}active{/if}">
				<a class="nav-link" href="{link Homepage:default}">{_menu_family_tree}</a>
			</li>

			<li class="nav-item {if $this->getParameter('presenter')->name === 'Person'}active{/if}">
				<a class="nav-link" href="{link Person:default}">{_menu_persons}</a>
			</li>

			<li class="nav-item {if $this->getParameter('presenter')->name === 'Wedding'}active{/if}">
				<a class="nav-link" href="{link Wedding:default}">{_menu_wedding}</a>
			</li>

			<li class="nav-item {if $this->getParameter('presenter')->name === 'Relation'}active{/if}">
				<a class="nav-link" href="{link Relation:default}">{_menu_relation}</a>
			</li>

			<li class="nav-item {if $this->getParameter('presenter')->name === 'Genus'}active{/if}">
				<a class="nav-link" href="{link Genus:default}">{_menu_genus}</a>
			</li>

            <li class="nav-item dropdown {if $this->getParameter('presenter')->name === 'Address'}active{/if}">
                <a class="nav-link dropdown-toggle" href="{link Address:default}" id="addressDropDownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{_menu_address}</a>

                <div class="dropdown-menu" aria-labelledby="addressDropDownLink">
                    <a class="dropdown-item" href="{link Country:default}">{_menu_country}</a>
                    <a class="dropdown-item" href="{link Town:default}">{_menu_town}</a>
                    <a class="dropdown-item" href="{link Address:default}">{_menu_address}</a>
                </div>
            </li>

			<li class="nav-item {if $this->getParameter('presenter')->name === 'Name'}active{/if}">
				<a class="nav-link" href="{link Name:default}">{_menu_name}</a>
			</li>

			<li class="nav-item {if $this->getParameter('presenter')->name === 'Job'}active{/if}">
				<a class="nav-link" href="{link Job:default}">{_menu_job}</a>
			</li>

            <li class="nav-item {if $this->getParameter('presenter')->name === 'NoteHistory'}active{/if}">
                <a class="nav-link" href="{link NoteHistory:default}">{_menu_history_notes}</a>
            </li>

            <li class="nav-item dropdown {if $this->getParameter('presenter')->name === 'Source'}active{/if}">
                <a class="nav-link dropdown-toggle" href="{link Source:default}" id="sourceDropDownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{_menu_source}</a>

            	<div class="dropdown-menu" aria-labelledby="sourceDropDownLink">
            		<a class="dropdown-item" href="{link Source:default}">{_menu_source}</a>
            		<a class="dropdown-item" href="{link SourceType:default}">{_menu_source_type}</a>
                </div>
            </li>

			<li class="nav-item dropdown {if $this->getParameter('presenter')->name === 'Missing'}active{/if}">
				<a class="nav-link dropdown-toggle" href="{link Missing:default}" id="missingDropDownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{_menu_missing}</a>

				<div class="dropdown-menu" aria-labelledby="missingDropDownLink">
					<a class="dropdown-item" href="{link Missing:weddings}">{_menu_missing_weddings}</a>
					<a class="dropdown-item" href="{link Missing:relations}">{_menu_missing_relations}</a>
					<a class="dropdown-item" href="{link Missing:fathers}">{_menu_missing_fathers}</a>
					<a class="dropdown-item" href="{link Missing:mothers}">{_menu_missing_mothers}</a>
					<a class="dropdown-item" href="{link Missing:parents}">{_menu_missing_parents}</a>
					<a class="dropdown-item" href="{link Missing:genuses}">{_menu_missing_genuses}</a>
					<a class="dropdown-item" href="{link Missing:birthTowns}">{_menu_missing_birth_towns}</a>
					<a class="dropdown-item" href="{link Missing:births}">{_menu_missing_births}</a>
					<a class="dropdown-item" href="{link Missing:deathTowns}">{_menu_missing_death_towns}</a>
					<a class="dropdown-item" href="{link Missing:deaths}">{_menu_missing_deaths}</a>
					<a class="dropdown-item" href="{link Missing:dates}">{_menu_missing_dates}</a>
					<a class="dropdown-item" href="{link Missing:gravedTowns}">{_menu_missing_graved_towns}</a>
					<a class="dropdown-item" href="{link Missing:nameWithoutGenus}">{_menu_missing_name_without_genus}</a>
				</div>
			</li>
		</ul>
	</nav>
	{* main nav *}

	{* breadcrumb *}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{link Homepage:default}">Home</a>
			</li>

			{ifset #breadcrumb}
				{include breadcrumb}
			{/ifset}
		</ol>
	</nav>
	{* breadcrumb *}

{*	<div class="float-right">*}
{*		{control languageSwitcher}*}
{*	</div>*}

	{foreach $flashes as $flash}
		<div class="alert alert-{$flash->type}">{_$flash->message}</div>
	{/foreach}

	<div class="container-fluid">
		{include content}
	</div>

	{block scripts}
		<script src="{$basePath}/js/jquery-3.5.1.js"></script>
		<script src="{$basePath}/js/jquery-ui.js"></script>
		<script src="{$basePath}/js/bootstrap.min.js"></script>
		<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
		<script src="{$basePath}/js/Naja.js"></script>
		<script src="{$basePath}/js/nette.ajax.js"></script>
		<script>
			$.nette.ext("modals", {
				success: function(payload) {
					if (payload.redirect) {
						$(".modal-ajax").modal("hide");
					} else if(payload.isModal) {
						$('.modal-ajax').modal('show');
					}
				}
			});

			$.nette.ext("ajaxRedirect", {
				success: function (payload) {
					if (payload.redirect) {
						$.nette.ajax(payload.redirect);
					}
				}
			});
		</script>
		<script src="{$basePath}/js/tinyMCE.js"></script>
		{*<script src="{$basePath}/js/orgchart.js"></script>*}
		<script src="https://balkangraph.com/js/latest/OrgChart.js"></script>
		<script src="//unpkg.com/gojs/release/go.js"></script>
		<script src="{$basePath}/js/primitives.latest.js"></script>
		<script src="{$basePath}/js/primitives.jquery.latest.js"></script>
		<script src="{$basePath}/js/main.js"></script>

        {ifset js}
            {snippet js}
                {include js}
            {/snippet}
        {/ifset}

		{ifset tree}
		    {include tree}
		{/ifset}
	{/block}
</body>
</html>
