parameters:
	database:
		type: "mysql"
		driver: "PDO"
		host: localhost
		user: "root"
		password: "password"
		database: "family-tree"
		lazy: true
		dsn: "%database.type%:host=%database.host%;dbname=%database.database%"

dibi:
	host: %database.host%
	username: %database.user%
	password: %database.password%
	database: %database.database%
	lazy: %database.lazy%
