parameters:

application:
	errorPresenter: Error
	mapping:
		*: Rendix2\*Module\FamilyTree\App\Presenters\*Presenter

session:
	expiration: 14 days
	autoStart: true
	##savePath: "%tempDir%/sessions"
	debug: true

di:
    debugger: true

tracy:
    maxLen: 500
    maxDepth: 10
    strictMode: true
    showBar: true
    showLocation: true

services:
	router: App\Router\RouterFactory::createRouter
	AddressManager:
	    class: Rendix2\FamilyTree\App\Managers\AddressManager
	CountryManager:
	    class: Rendix2\FamilyTree\App\Managers\CountryManager
	GenusManager:
	    class: Rendix2\FamilyTree\App\Managers\GenusManager
	JobManager:
	    class: Rendix2\FamilyTree\App\Managers\JobManager
	LanguageManager:
	    class: Rendix2\FamilyTree\App\Managers\LanguageManager
	NameManager:
	    class: Rendix2\FamilyTree\App\Managers\NameManager
	NoteHistoryManager:
		class: Rendix2\FamilyTree\App\Managers\NoteHistoryManager
	MissingManager:
		class: Rendix2\FamilyTree\App\Managers\MissingManager
	Person2AddressManager:
	    class: Rendix2\FamilyTree\App\Managers\Person2AddressManager
	Person2JobManager:
	    class: Rendix2\FamilyTree\App\Managers\Person2JobManager
	PersonManager:
	    class: Rendix2\FamilyTree\App\Managers\PersonManager
	TownManager:
	    class: Rendix2\FamilyTree\App\Managers\TownManager
	RelationManager:
	    class: Rendix2\FamilyTree\App\Managers\RelationManager
	SourceManager:
	    class: Rendix2\FamilyTree\App\Managers\SourceManager
	SourceTypeManager:
	    class: Rendix2\FamilyTree\App\Managers\SourceTypeManager
	TwinsManager:
	    class: Rendix2\FamilyTree\App\Managers\TwinsManager
	WeddingManager:
	    class: Rendix2\FamilyTree\App\Managers\WeddingManager
	TreeManager:
	    class: Rendix2\FamilyTree\App\Managers\TreeManager
#	Mysqldump:
#		class: Ifsnop\Mysqldump\Mysqldump(%database.dsn%, %database.user%, %database.password%)

extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22
    tbDatePicker: RadekDostal\NetteComponents\DateTimePicker\TbDatePicker\DI\TbDatePickerExtension

tbDatePicker:
    format: j. n. Y
