parameters:
	defaultLanguage: cs.CZ

application:
	errorPresenter: Error
	mapping:
		*: Rendix2\FamilyTree\*Module\App\Presenters\*Presenter

session:
	expiration: 14 days
	autoStart: true
	##savePath: "%tempDir%/sessions"
	debug: true

di:
    debugger: true

routing:
	cache: true

tracy:
    maxLen: 500
    maxDepth: 10
    strictMode: true
    showBar: true
    showLocation: true

services:
	nette.latteFactory:
		setup:
			- addFilter(address, @Rendix2\FamilyTree\App\Filters\AddressFilter)
			- addFilter(country, @Rendix2\FamilyTree\App\Filters\CountryFilter)
			- addFilter(duration, @Rendix2\FamilyTree\App\Filters\DurationFilter)
			- addFilter(file, @Rendix2\FamilyTree\App\Filters\FileFilter)
			- addFilter(genus, @Rendix2\FamilyTree\App\Filters\GenusFilter)
			- addFilter(job, @Rendix2\FamilyTree\App\Filters\JobFilter)
			- addFilter(name, @Rendix2\FamilyTree\App\Filters\NameFilter)
			- addFilter(person, @Rendix2\FamilyTree\App\Filters\PersonFilter)
			- addFilter(source, @Rendix2\FamilyTree\App\Filters\SourceFilter)
			- addFilter(sourceType, @Rendix2\FamilyTree\App\Filters\SourceTypeFilter)
			- addFilter(relation, @Rendix2\FamilyTree\App\Filters\RelationFilter)
			- addFilter(town, @Rendix2\FamilyTree\App\Filters\TownFilter)
			- addFilter(wedding, @Rendix2\FamilyTree\App\Filters\WeddingFilter)
	router: App\Router\RouterFactory::createRouter

	AddressFacade:
		class: Rendix2\FamilyTree\App\Model\Facades\AddressFacade
	FileManager:
		class: Rendix2\FamilyTree\App\Managers\FileManager
	GenusFacade:
		class: Rendix2\FamilyTree\App\Model\Facades\GenusFacade
	JobFacade:
		class: Rendix2\FamilyTree\App\Model\Facades\JobFacade
	JobSettingsFacade:
		class: Rendix2\FamilyTree\App\Model\Facades\JobSettingsFacade
		autowired: self
	HistoryNoteFacade:
		class: Rendix2\FamilyTree\App\Model\Facades\HistoryNoteFacade
	NameFacade:
		class: Rendix2\FamilyTree\App\Model\Facades\NameFacade
	PersonFacade:
		class: Rendix2\FamilyTree\App\Facades\PersonFacade
	PersonSettingsFacade:
		class: Rendix2\FamilyTree\App\Model\Facades\PersonSettingsFacade
		autowired: self
	Person2AddressFacade:
		class: Rendix2\FamilyTree\App\Facades\Person2AddressFacade
	Person2JobFacade:
		class: Rendix2\FamilyTree\App\Facades\Person2JobFacade
	RelationFacade:
		class: Rendix2\FamilyTree\App\Facades\RelationFacade
	StatisticManager:
		class: Rendix2\FamilyTree\App\Managers\StatisticManager
	SourceFacade:
		class: Rendix2\FamilyTree\App\Model\Facades\SourceFacade
	TownFacade:
		class: Rendix2\FamilyTree\App\Model\Facades\TownFacade
	TownSettingsFacade:
		class: Rendix2\FamilyTree\App\Model\Facades\TownSettingsFacade
		autowired: self
	WeddingFacade:
		class: Rendix2\FamilyTree\App\Facades\WeddingFacade

	AddressFilter:
		class: Rendix2\FamilyTree\App\Filters\AddressFilter
	CountryFilter:
		class: Rendix2\FamilyTree\App\Filters\CountryFilter
	DurationFilter:
		class: Rendix2\FamilyTree\App\Filters\DurationFilter
	FileFilter:
		class: Rendix2\FamilyTree\App\Filters\FileFilter
	GenusFilter:
		class: Rendix2\FamilyTree\App\Filters\GenusFilter
	HistoryNoteFilter:
		class: Rendix2\FamilyTree\App\Filters\HistoryNoteFilter
	JobFilter:
		class: Rendix2\FamilyTree\App\Filters\JobFilter
	NameFilter:
		class: Rendix2\FamilyTree\App\Filters\NameFilter
	PersonFilter:
		class: Rendix2\FamilyTree\App\Filters\PersonFilter
	RelationFilter:
		class: Rendix2\FamilyTree\App\Filters\RelationFilter
	SourceFilter:
		class: Rendix2\FamilyTree\App\Filters\SourceFilter
	SourceTypeFilter:
		class: Rendix2\FamilyTree\App\Filters\SourceTypeFilter
	TownFilter:
		class: Rendix2\FamilyTree\App\Filters\TownFilter
	WeddingFilter:
		class: Rendix2\FamilyTree\App\Filters\WeddingFilter

	AddressManager:
	    class: Rendix2\FamilyTree\App\Managers\AddressManager
	BackupManager:
	    class: Rendix2\FamilyTree\App\Managers\BackupManager(%appDir%, %tempDir%, %googleDrive.folderId%)
	CountryManager:
	    class: Rendix2\FamilyTree\App\Managers\CountryManager
	FileFacade:
		class: Rendix2\FamilyTree\App\Model\Facades\FileFacade
	GenusManager:
	    class: Rendix2\FamilyTree\App\Managers\GenusManager
	JobManager:
	    class: Rendix2\FamilyTree\App\Managers\JobManager
	JobSettingsManager:
		class: Rendix2\FamilyTree\App\Managers\JobSettingsManager
		autowired: self
	LanguageManager:
	    class: Rendix2\FamilyTree\App\Managers\LanguageManager
	NameManager:
	    class: Rendix2\FamilyTree\App\Managers\NameManager
	HistoryNoteManager:
		class: Rendix2\FamilyTree\App\Managers\NoteHistoryManager
	MissingManager:
		class: Rendix2\FamilyTree\App\Managers\MissingManager
	Person2AddressManager:
	    class: Rendix2\FamilyTree\App\Managers\Person2AddressManager
	Person2JobManager:
	    class: Rendix2\FamilyTree\App\Managers\Person2JobManager
	PersonManager:
	    class: Rendix2\FamilyTree\App\Managers\PersonManager
	PersonSettingsManager:
	    class: Rendix2\FamilyTree\App\Managers\PersonSettingsManager
	    autowired: self
	TownManager:
	    class: Rendix2\FamilyTree\App\Managers\TownManager
	TownSettingsManager:
		class: Rendix2\FamilyTree\App\Managers\TownSettingsManager
		autowired: self
	RelationManager:
	    class: Rendix2\FamilyTree\App\Managers\RelationManager
	SourceManager:
	    class: Rendix2\FamilyTree\App\Managers\SourceManager
	SourceTypeManager:
	    class: Rendix2\FamilyTree\App\Managers\SourceTypeManager
	TwinsManager:
	    class: Rendix2\FamilyTree\App\Managers\TwinsManager
	WeddingManager:
	    class: Rendix2\FamilyTree\App\Managers\WeddingManager
	TreeManager:
	    class: Rendix2\FamilyTree\App\Managers\TreeManager

	MysqlDumper:
		class: Ifsnop\Mysqldump\Mysqldump(%database.dns%, %database.user%, %database.password%)
	Translator:
		class: Translator

extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22
    tbDatePicker: RadekDostal\NetteComponents\DateTimePicker\TbDatePicker\DI\TbDatePickerExtension

tbDatePicker:
    format: j. n. Y
