{block title}{_relation_relation}{/block}

{block breadcrumb}
    <li class="breadcrumb-item">
        <a href="{link Relation:default}">{_menu_relation}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{_relation_relation}</li>
{/block}

{block content}
<div class="card">
    <div class="card-header">{_relation_relation}</div>
    <div class="card-body">
        {control form}
    </div>
</div>
{/block}