{block title}{_wedding_wedding}{/block}

{block breadcrumb}
    <li class="breadcrumb-item">
        <a href="{link Wedding:default}">{_menu_wedding}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{_wedding_wedding}</li>
{/block}

{block content}
<div class="card">
    <div class="card-header">{_wedding_wedding}</div>
    <div class="card-body">
        {control form}
    </div>
</div
{/block}